Package: com.semvis123.sonyfy
Name: Sonyfy
Version: 1.0.6
Architecture: iphoneos-arm
Description: Sonyfy, bring the noise cancellation control of your Sony headphones to the built-in iOS menu.
Maintainer: Sem Visscher
Author: Sem Visscher
Section: Tweaks
Depends: mobilesubstrate, preferenceloader, firmware (>=13.0)
