<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>icon</key>
			<string>banner.png</string>
			<key>height</key>
			<string>145</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.semvis123.sonyfypreferences</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.semvis123.sonyfypreferences/update</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Advanced settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>WH-1000XM3</string>
			<key>placeholder</key>
			<string>WH-1000XM3</string>
			<key>defaults</key>
			<string>com.semvis123.sonyfypreferences</string>
			<key>key</key>
			<string>headphonesName</string>
			<key>label</key>
			<string>Headphones name:</string>
			<key>PostNotification</key>
			<string>com.semvis123.sonyfypreferences/update</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Noise cancelling mode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Ambent sound level</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0</real>
			<key>defaults</key>
			<string>com.semvis123.sonyfypreferences</string>
			<key>key</key>
			<string>NCValue</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>20</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<real>20</real>
			<key>PostNotification</key>
			<string>com.semvis123.sonyfypreferences/updateApp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.semvis123.sonyfypreferences</string>
			<key>key</key>
			<string>focusOnVoiceNC</string>
			<key>label</key>
			<string>Focus on voice</string>
			<key>PostNotification</key>
			<string>com.semvis123.sonyfypreferences/updateApp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Transparency mode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Ambent sound level</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>20</real>
			<key>defaults</key>
			<string>com.semvis123.sonyfypreferences</string>
			<key>key</key>
			<string>ASMValue</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>20</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<real>20</real>
			<key>PostNotification</key>
			<string>com.semvis123.sonyfypreferences/updateApp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.semvis123.sonyfypreferences</string>
			<key>key</key>
			<string>focusOnVoiceASM</string>
			<key>label</key>
			<string>Focus on voice</string>
			<key>PostNotification</key>
			<string>com.semvis123.sonyfypreferences/updateApp</string>
		</dict>
	</array>
	<key>title</key>
	<string>Sonyfy</string>
</dict>
</plist>
